* {
	box-sizing: border-box;
}

body {
	background: linear-gradient(rgba(20, 26, 35,0.55),rgba(20, 26, 35, 0.55)),
				url("../img/background2.png") no-repeat center center fixed;
	background-size: cover;
	font-family: "Open Sans", Helvetica;
	margin: 0;
	position: relative;
}
